<div *ngIf="auth.user | async as user; else guest">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hello!</h5>
      <h6 class="card-subtitle mb-2 text-muted">You are logged into Firebase via SteemConnect!</h6>
      <p class="card-text">That's your uid:
        <b>{{ user.uid }}</b>
      </p>
      <button (click)="auth.signout()" class="btn btn-warning">Signout</button>
    </div>
  </div>
</div>
<ng-template #guest>
  <button (click)="auth.login()" class="btn btn-primary">Login with SteemConnect!</button>
</ng-template>
